*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
/staticfiles/
static/saved-pages/
media/avatar_images/
media/images/
media/original_images/
media/img/article
seed/
/seed/
#src
*.sqlite*

.env
/env
yarn.lock
/jaas.pk
